<app-navbar></app-navbar>
<div class="container mt-5">
    <h2 class="text-center">ABOUT DECOREBASKET</h2>
    <h4 class="text-center mt-4">Developer</h4>
    <div class="container mt-5 mb-2">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
          <div class="card shadow-lg">
            <img
              src="../../assets/Images/mihirraj.jpeg"
              class="card-img-top"
              alt="Mihir_Image"
            />
            <div class="card-body">
              <h5 class="card-title">Mihir Raj</h5>
              <p class="card-text">
                UPCOMING FSD @WIPRO
                <br>
                STACK MEAN
              </p>
              <a href="https://www.linkedin.com/in/mihir-singh-132a45192/" target="_blank">
                <button class="btn btn-dark">
                  Visit Profile
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
          <div class="card shadow-lg">
            <img
              src="../../assets/Images/abhishek2.jpg"
              class="card-img-top"
              alt="Abhishek_Kumar_Image"
            />
            <div class="card-body">
              <h5 class="card-title">Abhishek Kumar</h5>
              <p class="card-text">
                UPCOMING FSD @WIPRO
                <br>
                STACK MEAN
              </p>
              <a href="https://www.linkedin.com/in/abhishek-kumar-b1b381214/" target="_blank">
              <button class="btn btn-dark">
                Visit Profile
              </button>
            </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
          <div class="card shadow-lg">
            <img
              src="../../assets/Images/sayan2.jpeg"
              class="card-img-top"
              alt="Sayan_Image"
            />
            <div class="card-body">
              <h5 class="card-title">Sayan Dirghangi</h5>
              <p class="card-text">
                UPCOMING FSD @WIPRO
                <br>
                STACK MEAN
              </p>
              <a href="https://www.linkedin.com/in/sayan-dirghangi-467214213/" target="_blank">
                <button class="btn btn-dark">
                  Visit Profile
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5><b>Our Mission</b></h5>
    <p> At DecoreBasket, We document inspiration. Our aim is to bring to our readers a steady set of resources that would help them visualize, create and maintain beautiful homes, offices, business-park, resturants and many more. Our emphasis is on visuals that motivate you. We cover architectural innovations, cool homes, ideas for specific rooms, new design trends, products and occasionally decore tips.
      We hope to become your one stop source for your design inspiration!
    </p> <hr>
    <h5><b>Satisfaction Guarantee</b></h5>
    <p>We work tirelessly to ensure you are taken care of. We will do everything in our power to make each step of the
        shopping experience memorable, stress-free, and enjoyable.
        If you are not satisfied, we do everything in our power to make it right because that’s our promise and
        Satisfaction Guarantee.
    </p>
    <hr>


    <h5><b>How to use our site</b></h5>
    <ol class="bigfont">
        <li> <b>Bookmark Us!: </b> No, really. Think about the numerous times you came across a great site that you found only to forget about it completely a little later. So whichever be your
            favourite bookmarking method to remember your precious sites, let us in!</li>
        <li> <b> Create and Idea Folder: </b> Whether you are a casual enthusiast collecting ideas for your dream home or an interior designer with your own style of design, if you come across a design you really like, save that on to your hard drive inside a folder.
            This would really make it easy for you to show your tastes to a designer or if you want to fast flip through them later.</li>
        <li> <b> Get Involved: </b> Like our articles? Give us some love through your comments. (That usually gives us a big boost) Want to show the world your designs? Join our community on Facebook and upload your work there to put it before a huge audience. Do not like something you see here? Tell us about it.
             We just can’t hear enough from our readers and the feedback we get will help us improve our site.</li>
        <li> <b> Come Back!: </b> We update our site everyday. If you do not want to miss out any action be sure to follow us! An easy way would be to subscribe to our email newsletter.
             You will get all articles delivered to your inbox.</li>

    </ol>
    <hr>
    <div class="footer">

            <mat-card-content class="footer-content">
                <h5>We Accept</h5>
                <div class="container">
                  <button class="btn btn-outline-dark px-3">
                    <i class="fa-xl fa-brands fa-cc-visa" ></i>
                  </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <i class=" fa-xl fa-brands fa-cc-amazon-pay"></i>
                </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <i class=" fa-xl fa-solid fa-credit-card"></i>
                </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <i class=" fa-xl fa-brands fa-cc-paypal"></i>
                </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <i class=" fa-xl fa-brands fa-cc-stripe"></i>
                </button>
                </div>
            </mat-card-content>
            <br>
            <mat-card-content class="footer-content">
                <h5>Find us on</h5>
                <div class="container">
                  <button class="btn btn-outline-dark px-3 mx-1">
                    <a href="http://www.facebook.com" target="_blank">
                      <i class="fa-xl fa fa-facebook"></i>
                    </a>
                  </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <a href="http://www.youtube.com" target="_blank">
                    <i class="fa-xl fa fa-youtube" aria-hidden="true"></i>
                  </a>
                </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <a href="http://www.linkedin.com" target="_blank">
                    <i class="fa-xl fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </button>
                <button class="btn btn-outline-dark px-3 mx-1">
                  <a href="http://www.twitter.com" target="_blank">
                    <i class="fa-xl fa fa-twitter" aria-hidden="true"></i>

                  </a>
                </button>
              </div>
            </mat-card-content>
    </div>
  </div>
<app-footer></app-footer>
