<footer class="footer bg-dark pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div>
        <h6 class="text-white">DecoreBasket</h6>
        <p class="text-justify text-white">At DecoreBasket, We document inspiration. Our aim is to bring to our readers a steady set of resources that would help them visualize, create and maintain beautiful homes, offices, business, resturants and many more. Our emphasis is on visuals that motivate you. We cover architectural innovations, cool homes, ideas for specific rooms, new design trends, products and occasionally decore tips.
          We hope to become your one stop source for your design inspiration!</p>
      </div>

    </div>
    <hr class="text-white">
  </div>
  <div class="container">
    <div class="row">
      <div class="mb-4">
        <p class="copyright-text text-center text-white">Copyright &copy; 2022 All Rights Reserved by Group A1 MEAN BATCH-C1
        </p>
      </div>
    </div>
  </div>
</footer>
